<template>
  <div>Hello Nuxt.js</div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import firebase from 'firebase/app'
import config from '~/firebase.config'

@Component
export default class IndexPage extends Vue {
  created () {
    console.log('created')
    firebase.initializeApp(config)    
  }
}
</script>