<template>
  <article>
    <h1>Firebase練習用プロジェクト</h1>
    <div>
      <nuxt-link to="omido">みどちゃんのページ</nuxt-link>
    </div>
    <div>
      <nuxt-link to="toriumi">鳥ちゃんのページ</nuxt-link>
    </div>
    <div>
      <nuxt-link to="hirai">ヒラタクのページ</nuxt-link>
    </div>
  </article>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component
export default class IndexPage extends Vue {
}
</script>